@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

// Colors
$color-woodsmoke: #16161b;
$color-azure-radiance: #0077ff;
$color-japanese-laurel: #008000;
$color-gray: #7f7f7f;
$color-silver-chalice: #aaaaaa;
$color-silver: #cccccc;
$color-white: #ffffff;
$color-sunset-orange: #ff5349;

// Font
$font-primary: 'Poppins', sans-serif;

$font-light: 300;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;
