@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "variables";

// Background colors
.bg-dark {
  background-color: $color-woodsmoke !important;
}

.bg-primary {
  background-color: $color-azure-radiance !important;
}

.bg-success {
  background-color: $color-japanese-laurel !important;
}

.bg-gray {
  background-color: $color-gray !important;
}

.bg-light-gray {
  background-color: $color-silver-chalice !important;
}

.bg-lighter-gray {
  background-color: $color-silver !important;
}

.bg-white {
  background-color: $color-white !important;
}

.bg-warning {
  background-color: $color-sunset-orange !important;
}

// Text colors
.text-dark {
  color: $color-woodsmoke !important;
}

.text-primary {
  color: $color-azure-radiance !important;
}

.text-success {
  color: $color-japanese-laurel !important;
}

.text-gray {
  color: $color-gray !important;
}

.text-light-gray {
  color: $color-silver-chalice !important;
}

.text-lighter-gray {
  color: $color-silver !important;
}

.text-white {
  color: $color-white !important;
}

.text-warning {
  color: $color-sunset-orange !important;
}

// Border colors
.border-dark {
  border-color: $color-woodsmoke !important;
}

.border-primary {
  border-color: $color-azure-radiance !important;
}

.border-success {
  border-color: $color-japanese-laurel !important;
}

.border-gray {
  border-color: $color-gray !important;
}

.border-light-gray {
  border-color: $color-silver-chalice !important;
}

.border-lighter-gray {
  border-color: $color-silver !important;
}

.border-white {
  border-color: $color-white !important;
}

.border-warning {
  border-color: $color-sunset-orange !important;
}
